
@media screen and (min-width: 600px){
   
    .set-bet{
        height: 30px;
        width: 30px;
    }
    h4{
        font-size: 1.2rem;
    }
    .bet-text, .win{
        font-size: 1.2rem; 
    }
    #betValue{
        font-size: 1.2rem;
    }
    button{
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 994px){
    .container-main{
        grid-template-rows: 10vh 15vh 60vh 15vh;
    }
    .wrapper-section{
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .section-1{
        width: 60%;
        height: 80%;
    }
    .section-2{
        grid-row: 4;
    }
    .section-3{
        grid-template-columns: repeat(12, 1fr);
        justify-items: center;
        align-items: center;
    }       
    .section-4{
       
        width: 40%;
        height: 80%;
    }
    .drawn-number{
        height: 8vh;
        width: 8vh;
    }
    .number-background{
        height: 7vh;
        width: 7vh;
        margin: 0.5%;
    }
    .number-background-update{
        height: 7vh;
        width: 7vh;
        margin: 0.5%;
    }
    h4{
        font-size: 1.6rem;
    }
    .bet-text, .win{
        font-size: 1.6rem; 
    }
    #betValue{
        font-size: 1.6rem;
    }
    button{
        font-size: 1.6rem;
    }
}