
.lose-ticket{
    background: #ee2049;
}

.swal-custom{
    /* height: 100px; */
   
    color: #231f20;
}

.win-ticket-number{
    background: #0caa58;
}
.lose-ticket-number{
    background: #ee2049;
}
.win{
    position: relative;
}




ul{
position: absolute;
top: 50%;
left: 50%;
transform:translate(-50%,-50%);
margin: 0;
padding: 0;
display: flex;
}
ul li{
    list-style: none;
    color: #231f20;
    font-size: 2rem;
    letter-spacing: 5px;
    animation: animate 1.5s linear infinite;
}


@keyframes animate{
0%
{
color: #231f20;
text-shadow: none;
}
90%
{
color: #f9aa21;
text-shadow: none;
}
100%
{
color: #fff900;
text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
}
}
 ul li:nth-child(1){
     animation-delay: .5s;
 }

 ul li:nth-child(2){
    animation-delay: 1s;
}
ul li:nth-child(3){
    animation-delay: 1.5s;
}



